body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: justify;
    line-height: 1.6;
  }
  
  header {
    background-color: #006400;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #228b22;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #1e7e1e;
  }
  
  footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
  }
  
  .oculto {
    display: none;
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }
  